*{
    margin: 0pt;
    padding: 0pt;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: white black;
    scroll-behavior: smooth;
    min-width: 240px;
    
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.everythingtitle{
    font-weight: bold;
    display: flex;
    font-size: 48pt;
    text-align: center;
    position: fixed;
    z-index: 3;
    color: white;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    text-shadow: black 2pt 2pt;
    
}

img{
    width: 140px;
    height: auto;
    margin: 0px;
    z-index: 1;
    transition: ease-in-out 200ms;
    opacity: 60%;
}

img:hover{
    transform: scale(200%);
    opacity: 100%;
    z-index:2;
}

img:active{
    transform:skewY(20%);
}

@media only screen and (max-width: 600px) {
    .everythingtitle{
        font-size: 24pt;
    }
}